body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.title {
  margin: 5px;
  margin-top: 10px;
  text-align: center;
}

main {
  font-size: 20px;
  flex: 1; /* 余白を埋めるために flex を使用 */
}

.zentai{
  font-size: 27px;
}

.gakureki{
  font-size: 20px;
  list-style: none;
}

.link-separator{
  margin-right: 10px;
}

.text-container {
  text-align: justify;
  max-width: 900px;
}

.text-container p {
  display: inline;
}

.Teaching_Assistant{
  margin-top: 10px;
}

.TA{
  font-size: 23px;
  list-style: decimal;
  transform: rotate(-180deg);
}

.TA li{
  list-style-position: inside;
  padding-left: 40px; 
  font-size: 20px;
    transform: rotate(180deg);
}

.TA {
  list-style: none;
  counter-reset: my-counter;
}

.TA li {
  list-style-position: inside;
  padding-left: 40px;
  font-size: 20px;
  position: relative; /* 相対位置指定 */
  margin-bottom: 5px; /* リストアイテムの間隔を調整する場合に追加 */
}

.TA li:before {
  content: counter(my-counter) ". ";
  counter-increment: my-counter;
  display: inline-block;
  text-align: right;
  width: 40px; /* リスト番号の幅を指定 */
  position: absolute; /* 絶対位置指定 */
  left: 0; /* 左端に配置 */
  top: 5px; /* 上端に配置 */
}

.text-container2 {
  font-size: 20px;
  text-indent: 2em;
  display: block;
  margin-top: -1cm;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 2px;
  border-top: 2px solid black;
}
