body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
 
.title {
    margin: 5px;
    margin-top: 10px;
    text-align: center;
}
  

  
td, th {
    padding: 8px; /* セルの内側に10ピクセルの余白を追加 */
    text-align: center; /* セルの内容を中央揃え */
    border: 1px solid black; /* セルの境界線 */
}



.main {
    font-size: 20px;
}

.left-align {
    text-align: left;
  }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-top: 2px solid black;
  }